@use 'variables';

body{
  margin: 0;
}

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}

.sp-header {
  color: variables.$text-color;
  font-size: 1.25rem;
  &--center{
    text-align: center;
  }
}

h1 {
  color: variables.$text-color;
  font-size: 2.25rem;
  width: auto;

  &.center{
    text-align: center;
  }
}

.sp-button {
  background: variables.$primary-color;
  padding: 0.75rem;
  height: auto;
  border: none;
  cursor: pointer;
  width: 100%;
  color: white;
  font-size: 0.83rem;
  border-radius: 0.5rem;
  transition: 200ms;
  &:hover {
    background: variables.$secondary-color;
  }
}

.sp-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;

  &--small {
    box-shadow: 0 0 6px 0 #00000024;
    min-width: 340px;
    padding: 1.5rem;
    border-radius: 0.75rem;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    display: flex;
    gap: 4rem;
  }

  &--main {
    overflow: auto;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
  }

  &--group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}


.sp-input {
  &_input {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    padding: 8px 12px;
    border-bottom: 1px solid variables.$primary-bg;
    font-size: 0.83rem;
    color: variables.$text-color;
    transition: 200ms;

    &::placeholder {
      color: variables.$secondary-text-color;
      opacity: 1;
    }

    &:focus, &:hover {
      outline: none;
      border-color: variables.$secondary-color;
    }
  }
}

.sp-link {
  color: variables.$primary-color;
  font-size: 0.83rem;
  width: fit-content;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: 200ms;

  &--center {
    text-align: center;
    margin: 0 auto;
  }

  &:hover {
    color: variables.$secondary-color;
    border-bottom: 1px solid variables.$secondary-color;
  }

  &--error {
    color: variables.$error-color;

    &:hover{
      color: variables.$error-color--hover;
      border-bottom: 1px solid variables.$error-color--hover;
    }
  }
}

.sp-error {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &--wrapper {
    width: auto;
    display: flex;
    gap: 4rem;
    flex-direction: column;
  }

  &--group {
    width: auto;
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
}

.sp-navigate {
  position: absolute;
  padding: 0.5rem;
  border-radius: 999px;
  background: variables.$primary-color;
  cursor: pointer;
  height: 24px;
  width: 24px;

  & svg {
    transition: 200ms;
    fill: variables.$white-color;
  }

  &:hover {
    background: variables.$secondary-color;
  }
}

.sp-profile {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 340px;
  margin: 0 auto;
  justify-content: center;
  height: 100%;

  &_group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &_avatar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;

    & svg {
      cursor: pointer;
      fill: variables.$primary-bg;
      width: 80px;
      height: 80px;
      transition: 200ms;

      &:hover {
      fill: variables.$secondary-bg;
      }
    }
  }

  &_setting {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;

    & p {
      color: variables.$text-color
    }

    & span {
      color: variables.$secondary-text-color
    }
  }
}
