$primary-color: #6632ea;
$secondary-color: #5925de;

$primary-bg: #E4EDFD;
$secondary-bg: #EFEFEF;

$text-color: #000000;
$secondary-text-color: #6C6D70;

$white-color: #ffffff;

$error-color: #E43811;
