$primary-color: #8340BD;
$secondary-color: #4A1491;

$primary-bg: #E4EDFD;
$secondary-bg: #EFEFEF;

$text-color: #000000;
$secondary-text-color: #a9a9a9;

$white-color: #ffffff;

$error-color: #E43811;
