$primary-color: #8340BD;
$secondary-color: #4A1491;

$primary-bg: #e5cbfc;
$secondary-bg: #f8f0ff;

$text-color: #000;
$secondary-text-color: #a9a9a9;

$white-color: #fff;

$error-color: #E43811;
$error-color--hover: #c43312;
